<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <capable-switch>
    <resources>
      <port>
        <resource-id>port0</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port1</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port2</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port3</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port4</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port5</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port6</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port7</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port8</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port9</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port10</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port11</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port12</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port13</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port14</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port15</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port16</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port17</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port18</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port19</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port20</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port21</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port22</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port23</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port24</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port25</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port26</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port27</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port28</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port29</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port30</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port31</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port32</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port33</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port34</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port35</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port36</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port37</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port38</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port39</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port40</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port41</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port42</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port43</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port44</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port45</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port46</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port47</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port48</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port49</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port50</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port51</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port52</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port53</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port54</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port55</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port56</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port57</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port58</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port59</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port60</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port61</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port62</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port63</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port64</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port65</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port66</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port67</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port68</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port69</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port70</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port71</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port72</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port73</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port74</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port75</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port76</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port77</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port78</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port79</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port80</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port81</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port82</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port83</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port84</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port85</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port86</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port87</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port88</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port89</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port90</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port91</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port92</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port93</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port94</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port95</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port96</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port97</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port98</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
      <port>
        <resource-id>port99</resource-id>
        <configuration>
          <admin-state>up</admin-state>
          <no-receive>false</no-receive>
          <no-forward>false</no-forward>
          <no-packet-in>true</no-packet-in>
        </configuration>
      </port>
    </resources>
    <logical-switches>
      <switch>
        <id>switch0</id>
        <datapath-id>10:14:56:7C:89:46:7A:10</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources>
          <port>port0</port>
          <port>port1</port>
          <port>port2</port>
          <port>port3</port>
          <port>port4</port>
          <port>port5</port>
          <port>port6</port>
          <port>port7</port>
          <port>port8</port>
          <port>port9</port>
          <port>port10</port>
          <port>port11</port>
          <port>port12</port>
          <port>port13</port>
          <port>port14</port>
          <port>port15</port>
          <port>port16</port>
          <port>port17</port>
          <port>port18</port>
          <port>port19</port>
          <port>port20</port>
          <port>port21</port>
          <port>port22</port>
          <port>port23</port>
          <port>port24</port>
          <port>port25</port>
          <port>port26</port>
          <port>port27</port>
          <port>port28</port>
          <port>port29</port>
          <port>port30</port>
          <port>port31</port>
          <port>port32</port>
          <port>port33</port>
          <port>port34</port>
          <port>port35</port>
          <port>port36</port>
          <port>port37</port>
          <port>port38</port>
          <port>port39</port>
          <port>port40</port>
          <port>port41</port>
          <port>port42</port>
          <port>port43</port>
          <port>port44</port>
          <port>port45</port>
          <port>port46</port>
          <port>port47</port>
          <port>port48</port>
          <port>port49</port>
          <port>port50</port>
          <port>port51</port>
          <port>port52</port>
          <port>port53</port>
          <port>port54</port>
          <port>port55</port>
          <port>port56</port>
          <port>port57</port>
          <port>port58</port>
          <port>port59</port>
          <port>port60</port>
          <port>port61</port>
          <port>port62</port>
          <port>port63</port>
          <port>port64</port>
          <port>port65</port>
          <port>port66</port>
          <port>port67</port>
          <port>port68</port>
          <port>port69</port>
          <port>port70</port>
          <port>port71</port>
          <port>port72</port>
          <port>port73</port>
          <port>port74</port>
          <port>port75</port>
          <port>port76</port>
          <port>port77</port>
          <port>port78</port>
          <port>port79</port>
          <port>port80</port>
          <port>port81</port>
          <port>port82</port>
          <port>port83</port>
          <port>port84</port>
          <port>port85</port>
          <port>port86</port>
          <port>port87</port>
          <port>port88</port>
          <port>port89</port>
          <port>port90</port>
          <port>port91</port>
          <port>port92</port>
          <port>port93</port>
          <port>port94</port>
          <port>port95</port>
          <port>port96</port>
          <port>port97</port>
          <port>port98</port>
          <port>port99</port>
        </resources>
        <controllers>
          <controller>
            <id>ctrl0</id>
            <role>equal</role>
            <ip-address>10.10.10.0</ip-address>
            <port>6620</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch1</id>
        <datapath-id>10:14:56:7C:89:46:7A:11</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl1</id>
            <role>equal</role>
            <ip-address>10.10.10.1</ip-address>
            <port>6621</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch2</id>
        <datapath-id>10:14:56:7C:89:46:7A:12</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl2</id>
            <role>equal</role>
            <ip-address>10.10.10.2</ip-address>
            <port>6622</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch3</id>
        <datapath-id>10:14:56:7C:89:46:7A:13</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl3</id>
            <role>equal</role>
            <ip-address>10.10.10.3</ip-address>
            <port>6623</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch4</id>
        <datapath-id>10:14:56:7C:89:46:7A:14</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl4</id>
            <role>equal</role>
            <ip-address>10.10.10.4</ip-address>
            <port>6624</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch5</id>
        <datapath-id>10:14:56:7C:89:46:7A:15</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl5</id>
            <role>equal</role>
            <ip-address>10.10.10.5</ip-address>
            <port>6625</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch6</id>
        <datapath-id>10:14:56:7C:89:46:7A:16</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl6</id>
            <role>equal</role>
            <ip-address>10.10.10.6</ip-address>
            <port>6626</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch7</id>
        <datapath-id>10:14:56:7C:89:46:7A:17</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl7</id>
            <role>equal</role>
            <ip-address>10.10.10.7</ip-address>
            <port>6627</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch8</id>
        <datapath-id>10:14:56:7C:89:46:7A:18</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl8</id>
            <role>equal</role>
            <ip-address>10.10.10.8</ip-address>
            <port>6628</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch9</id>
        <datapath-id>10:14:56:7C:89:46:7A:19</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl9</id>
            <role>equal</role>
            <ip-address>10.10.10.9</ip-address>
            <port>6629</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch10</id>
        <datapath-id>10:14:56:7C:89:46:7A:20</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl10</id>
            <role>equal</role>
            <ip-address>10.10.10.10</ip-address>
            <port>6630</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch11</id>
        <datapath-id>10:14:56:7C:89:46:7A:21</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl11</id>
            <role>equal</role>
            <ip-address>10.10.10.11</ip-address>
            <port>6631</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch12</id>
        <datapath-id>10:14:56:7C:89:46:7A:22</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl12</id>
            <role>equal</role>
            <ip-address>10.10.10.12</ip-address>
            <port>6632</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch13</id>
        <datapath-id>10:14:56:7C:89:46:7A:23</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl13</id>
            <role>equal</role>
            <ip-address>10.10.10.13</ip-address>
            <port>6633</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch14</id>
        <datapath-id>10:14:56:7C:89:46:7A:24</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl14</id>
            <role>equal</role>
            <ip-address>10.10.10.14</ip-address>
            <port>6634</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch15</id>
        <datapath-id>10:14:56:7C:89:46:7A:25</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl15</id>
            <role>equal</role>
            <ip-address>10.10.10.15</ip-address>
            <port>6635</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch16</id>
        <datapath-id>10:14:56:7C:89:46:7A:26</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl16</id>
            <role>equal</role>
            <ip-address>10.10.10.16</ip-address>
            <port>6636</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch17</id>
        <datapath-id>10:14:56:7C:89:46:7A:27</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl17</id>
            <role>equal</role>
            <ip-address>10.10.10.17</ip-address>
            <port>6637</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch18</id>
        <datapath-id>10:14:56:7C:89:46:7A:28</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl18</id>
            <role>equal</role>
            <ip-address>10.10.10.18</ip-address>
            <port>6638</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
      <switch>
        <id>switch19</id>
        <datapath-id>10:14:56:7C:89:46:7A:29</datapath-id>
        <enabled>true</enabled>
        <lost-connection-behavior>failSecureMode</lost-connection-behavior>
        <resources/>
        <controllers>
          <controller>
            <id>ctrl19</id>
            <role>equal</role>
            <ip-address>10.10.10.19</ip-address>
            <port>6639</port>
            <protocol>tcp</protocol>
            <state>
              <connection-state>up</connection-state>
              <current-version>1.0</current-version>
            </state>
          </controller>
        </controllers>
      </switch>
    </logical-switches>
  </capable-switch>
</configuration>